In [1]:
3*2

6

In [2]:
4+2

6

In [7]:
3 + 5  # spaces around the + are ignored <- this is also a comment

8

In [4]:
4 - 2

2

In [5]:
3 - 5

-2

In [8]:
4*2
3*5
4/2
5/3 # For integers, division does not round down

1.6666666666666667

Input only handles one function at a time like this ^

In [9]:
4/2

2.0

In [10]:
5/3

1.6666666666666667

In [11]:
4 / 2

2.0

In [12]:
3 * 5

15

# Integers

In [13]:
int(-5/3)  #we can force (cast) to integer to round down

-1

In [14]:
5/2 #python 3+

2.5

In [15]:
4**2 # Raising to power uses **

16

In [16]:
5 ** 3 # Spaces are allowed around **, but not * *

125

In [17]:
4%2  # Remainder uses % (4 = 2 x 2 + 0)

0

In [18]:
5%3 # 5 = 1 x 3 + 2

2

In [19]:
-5%3 # -5 = -2 x 3 + 1

1

# Floating Point Numbers

In [20]:
1.0

1.0

In [21]:
0.5 + 5.0

5.5

In [22]:
0.25*2

0.5

In [23]:
5.0 - 2.0

3.0

In [24]:
5.0*2.0

10.0

In [25]:
5.0/2.0

2.5

In [26]:
5.0**2.0 # this is a float

25.0

In [27]:
5 ** 2 # this is an integer

25

# Strings

In [28]:
'Hello world!'

'Hello world!'

In [30]:
"Hello world!" # need quotes to let python know using a string

'Hello world!'

In [32]:
print("Hello world!") # calls python function print to do something

Hello world!

# Mixed Quotes and Joining Strings

In [33]:
print('He said "Hello" to her.')

He said "Hello" to her.

In [34]:
print("He said 'Hello' to her.")

He said 'Hello' to her.

In [35]:
'He said'+'something.' # + joins two strings together

'He saidsomething.'

In [39]:
'He said '+'something.' # add space ' words '

'He said something.'

In [40]:
'Bang! ' * 3 # the * repeats the text n times

'Bang! Bang! Bang! '

In [41]:
3 * 'Bang! '

'Bang! Bang! Bang! '

In [43]:
'4' + '3' # Is the output a text or a number?
#text string

'43'

In [44]:
3*'4' #Is the output a text or a number?
#text string

'444'

# Booleans

In [45]:
#Are the two values the same? 5+2 and 7
#Is one value bigger than the other? 5+2 and 8

In [46]:
5 > 4 # Returns the boolan type

True

In [47]:
5.0 < 4.0

False

In [48]:
5 == 4 # for the comparison, need to use the double equat sign

False

In [49]:
2 == 2

True

True and False are boolean values

In [50]:
(2**2)**2 == 2**(2**2) # this is an exception. 
# the order will change the result almost every time.

True

In [51]:
3**(3**3) == (3**3)**3 # 3^9 is different than 9^3

False

# Numerical Comparisons

python  x == y
mathematics x = y

python != y 
mathematics x not equal to y

# Comparing Booleans

In [53]:
1<2 and 5<6

True

In [54]:
1<2 or 5<6 # And/or two commands for comparing booleans

True

# Negating Booleans

In [55]:
1 > 2

False

In [56]:
not 1 > 2 # not False = True

True

In [57]:
not False

True

In [58]:
1 == 2

False

In [ ]:
## != means not equal to

In [59]:
1 != 2

True

In [60]:
not 1==2 # not false = true

True

predict the output of the following statements

In [61]:
1 > 2 or 2 > 1
#true?

True

In [62]:
1 > 2 or not 2 > 1
#false

False

In [63]:
not True
#false

False

In [64]:
1>2 or True

True